/** COMMON CSS STARTS*/
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&family=Poppins:wght@300;400;500;600;700&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primaryFont: "Poppins", sans-serif;
    --secondaryFont: "PT Sans", sans-serif;
    --primaryColor: #FC0;
    --secondaryColor: #353535;
}

ul,ol {
  list-style: none;
}
a {
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6, ul, ol p, span{
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--primaryFont);
}
.button{
  color: #FFF;
  font-family: var(--primaryFont);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 180%;
  border-radius: 20px;
  background: var(--primaryColor);
  padding: 16px 40px;
  display: inline-block;
}
.button{
  margin-right: 40px;
}
.button.outline-btn{
  background-color: transparent;
  border-radius: 20px;
  border: 1px solid #000;
  color: var(--secondaryColor);
}
/** COMMON CSS ENDS*/

/* * NAVBAR STARTS HERE */
nav {
  background: #fff;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  padding: 16px !important;
}
#custom-nav ul li a {
  font-size: 15px;
  font-weight: 500;
  line-height: 200%;
  padding: 18px 22px 5px;
  display: block;
  text-transform: uppercase;
  position: relative;
   display: inline-block;
}
#custom-nav li a::before {
  content:'';
  width: 0%;
  height: 2px;
  background-color: var(--primaryColor);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.25s;
}
#custom-nav ul li:hover a::before {
  width: 100%;
}
nav .navbar-toggler {
  border: none;
}
nav .navbar-toggler:focus {
  box-shadow: none;
}
/* * NAVBAR ENDS HERE */

/* *HERO SECTION START */
.hero-cnt h4{
  color: var(--secondaryColor);
  font-family: var(--primaryFont);
  font-size: 24px;
  font-weight: 400;
  padding-bottom: 15px;
}
.hero-cnt h4 span{
  padding-left: 38px;
  color: var(--primaryColor);
  font-size: 32px;
}
.hero-cnt h1{
  color: var(--secondaryColor);
  font-family: var(--secondaryFont);
  font-size: 64px;
  font-weight: 700;
  line-height: normal;
}
.hero-cnt p{
  color: var(--secondaryColor);
  font-family: var(--primaryFont);
  font-size: 20px;
  font-weight: 400;
  line-height: 180%;
  padding: 25px 2px 45px 0;
}
.hero-img img{
  width: 100%;
  padding-top: 40px;
}
.hero-cnt .button span{
  padding-left: 11px;
  font-size: 18px;
}
#hero h3 span{
  color: var(--secondaryColor);
  background-color: #F4F3F3;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 18px;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  margin-top: 66px;
}
.mouse-icon {
  position: absolute;
  bottom: -90px;
  right: 80px;
}
/* *HERO SECTION ENDS */

/* *ABOUT SECTION ENDS */
#about{
  background: linear-gradient(95deg, #FC0 -21.46%, #FFF5CB 112.13%);
  margin: 144px 0;
}
.about-cnt h2{
  color: var(--secondaryColor);
  font-family: var(--secondaryFont);
  font-size: 50px;
  font-weight: 700;
  line-height: normal;
}
.about-cnt p{
  color: var(--secondaryColor);
  font-family: var(--primaryFont);
  font-size: 20px;
  font-weight: 400;
  line-height: 190%;
  padding: 26px 0 45px 0;
}
.about-img img{
  width: 100%;
}
.Ellipse-1{
  position: absolute;
  bottom: -57px;
  right: -46px;
}
/* *ABOUT SECTION ENDS */

/* *CARD SECTION START */
#card-section{
  margin-bottom: 165px;
  text-align: center;
}
#card-section .cards{
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08);
  padding: 47px;
}
.card-cnt h4{
  color: var(--secondaryFont);
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  line-height: 180%;
  padding: 18px 14px;
}
.card-cnt p{
color: #7A7A7A;
text-align: center;
font-family: var(--primaryFont);
font-size: 16px;
font-weight: 400;
line-height: 190%;
}
/* *CARD SECTION ENDS */

/* *BRANDING SECTION ENDS */
#branding{
  margin-bottom: 147px;
}
#branding .background{
  background: linear-gradient(95deg, #FC0 -21.46%, #FFF5CB 112.13%);
  border-radius: 30px;
}
.branding-cnt p{
  padding-right: 100px;
  padding-bottom: 35px;
  margin-bottom: 0;
}
.branding img{
  width: 100%;
}
.branding-cnt .Ellipse-2{
  position: absolute;
  top: -79px;
  right: 113px;
}
.branding-cnt .line-shape{
  position: absolute;
  bottom: 25px;
  left: 226px;
}
.branding-cnt span{
  font-size: 14px;
  position: absolute;
  bottom: 10px;
  right: 180px;
  transform: rotate(315deg);
}
.branding-img{
  padding: 0 25px;
}
/* *BRANDING SECTION ENDS */

